.wide {
  width: 100%;
  height: 300px;
  background-image: url('https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_960_720.jpg');
  background-size: cover;
}

.main-height .footer-height {
  height: auto;
}

.footer-height {
  padding: 5%;
}

.background-main {
  background-color: rgb(48, 54, 61);
  padding-bottom: 1px;
  padding-top: 1px;
}

.background-body {
  background-color: rgb(48, 54, 61);
}

ul.markers {
  list-style-type: square;
}

#navIcons .bi {
  font-size: 25px;
}

#social .bi {
  font-size: 35px;
}

#search-icon i {
  color: white;
}

#navIcons i {
  color: #00BFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#search-icon i {
  color: white;
}

#color-button .btn-primary:hover {
  background-color: #056fc7;
  border: #056fc7;
}

#color-button .btn-primary {
  background-color: #00BFFF;
  border: #00BFFF;
}

#color-button .btn-secondary {
  background-color: rgba(126, 126, 126, 0.932);
  border: rgba(126, 126, 126, 0.932);
}


#form-radius .btn {
  border-radius: 0%;
}

#form-radius .form-control {
  border-radius: 0%;
}

#pfp_btn .pfp_btn .btn{

  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#color-text p {
  color: #00BFFF;
}

#color-text h1 {
  color: #056fc7;
}

#color-text h3 {
  color: #056fc7;
}

#color-text ul {
  color: #00BFFF;
}

#color-text tr {
  color: #00BFFF;
}

#navIcons .nav-link.active {
  background-color: rgb(57, 86, 167);
}

#color-text .nav-link {
  color: #00BFFF;
}

#color-text .nav-link:hover {
  color: #056fc7;
}

#list-s-t li {
  list-style-type: none;
}

#color-text .offcanvas-title {
  color: #056fc7;
}

#color-text .form-label {
  color: #00BFFF;
}

.area{
  background-color: #4e54c8 !important;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}