.wide {
  width: 100%;
  height: 300px;
  background-image: url('https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_960_720.jpg');
  background-size: cover;
}

.main-height .footer-height {
  height: auto;
}

.footer-height {
  padding: 5%;
}

.background-main {
  background-color: rgb(48, 54, 61);
  padding-bottom: 1px;
  padding-top: 1px;
}

.background-body {
  background-color: rgb(48, 54, 61);
}

ul.markers {
  list-style-type: square;
}

#navIcons .bi {
  font-size: 25px;
}

#social .bi {
  font-size: 35px;
}

#search-icon i {
  color: white;
}

#navIcons i {
  color: #00BFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#search-icon i {
  color: white;
}

#color-button .btn-primary:hover {
  background-color: #056fc7;
  border: #056fc7;
}

#color-button .btn-primary {
  background-color: #00BFFF;
  border: #00BFFF;
}

#color-button .btn-secondary {
  background-color: rgba(126, 126, 126, 0.932);
  border: rgba(126, 126, 126, 0.932);
}


#form-radius .btn {
  border-radius: 0%;
}

#form-radius .form-control {
  border-radius: 0%;
}

#pfp_btn .pfp_btn .btn{

  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#color-text p {
  color: #00BFFF;
}

#color-text h1 {
  color: #056fc7;
}

#color-text h3 {
  color: #056fc7;
}

#color-text ul {
  color: #00BFFF;
}

#color-text tr {
  color: #00BFFF;
}

#navIcons .nav-link.active {
  background-color: rgb(57, 86, 167);
}

#color-text .nav-link {
  color: #00BFFF;
}

#color-text .nav-link:hover {
  color: #056fc7;
}

#list-s-t li {
  list-style-type: none;
}

#color-text .offcanvas-title {
  color: #056fc7;
}

#color-text .form-label {
  color: #00BFFF;
}

div.default_svg img {
  height: 100px;
  width: 100px;
}

.filter-default {
  /* !!invert(0.5) sepia(1)!! */
  filter: invert(17%) sepia(5%) saturate(1722%) hue-rotate(314deg) brightness(98%) contrast(92%);
}


/* https://codepen.io/sosuke/pen/Pjoqqp */

.background {
  background: linear-gradient(132deg, #DFCCAF, #854442, #BE9B7B);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.svg_animation {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: svg_animation 12s ease-in forwards infinite;
}


.svg_animation:nth-child(1) {
  animation-delay: 2s;
  left: 5vw;
  top: 10vh;
}

.svg_animation:nth-child(2) {
  animation-delay: 6s;
  left: 50vw;
  top: 40vh;
}

.svg_animation:nth-child(3) {
  animation-delay: 4s;
  left: 30vw;
  top: 60vh;
}

.svg_animation:nth-child(4) {
  animation-delay: 8s;
  left: 70vw;
  top: 80vh;
}

.svg_animation:nth-child(5) {
  animation-delay: 10s;
  left: 60vw;
  top: 25vh;
}

.svg_animation:nth-child(6) {
  animation-delay: 2s;
  left: 89vw;
  top: 30vh;
}

/* Animate Background*/
@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

@keyframes svg_animation {
  0% {
      transform: scale(0) rotate(0deg) translate(-50%, -50%) translateX(2px);
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      transform: scale(20) rotate(960deg) translate(-50%, -50%) translateX(-2px);
      opacity: 0;
  }
}